@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-login {
    @apply px-4 py-2 rounded-lg font-semibold border-2 border-purple-main text-purple-main
           bg-light-purple-bg hover:bg-purple-main hover:text-white transition-colors duration-300;
  }
  body.dark .btn-login {
    @apply bg-dark-purple-bg text-purple-light border-purple-light;
  }
  body.dark .btn-login:hover {
    @apply bg-purple-light text-purple-dark;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-light-purple-bg dark:bg-dark-purple-bg text-purple-dark dark:text-purple-light;
  @apply transition-colors duration-500 ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes waveAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

.animate-wave {
  animation: waveAnim 1s linear infinite;
}

@keyframes ledBlink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.animate-led {
  animation: ledBlink 1s infinite;
}
